-var name = "Weimburg"

-var papasFritas= "$6.400"
-var arosdecebolla= "$9.200"
-var bastondemuzzarela = "$9.200"
-var slicecheece= "$3.900"

-var Promocost = ["$22.860", "$33.000", "$18.000"]
-var arroz= "$10.300"
-var matriple = "$2.400"

/// manu ginobili 
-var egSimple = "$10.300"
-var egdoble = "$12.700"

/// sc30 & dr
-var scsimple = "$13.700"
-var scdoble = "$16.100"

// lakers
-var kbsimple = "$11.400"
-var kbdoble = "$13.800"

/// bulls
-var mjsimple = "$12.600"
-var mjdoble = "$15.000"
