$bgcolor: #222326;
$red: #de1930;
$brand: $red;
$wt: #f0f0f1;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title{
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
